<nav class="navbar">
      <% if (user) { %>
          <p class="username"><%= user.user %></p>
      <% } %>
      <% if (routes) { %> <% routes.forEach((route) => { %>
          <a class="controls" href="<%= route.href %>"> <%= route.title %> </a>
      <% }) %> <% } %>
  </div>
</nav>