<nav class="navbar">
  <div class = "nav">
      <a href="/Register">Register | </a> 
      <a href="/login">Log-in | </a>
      <a href="/movies">All Movies | </a>
      <a href="/movies/new">Create Movie | </a>
      <a href = "/logout">Logout</a>
  </div>
</nav>