<!DOCTYPE html>
<html lang="en">
<%-include ("partials/head.ejs")%>
<body>
    <h1>All Movies</h1>

    
        <% for(let i=0; i<movies.length; i++) { %>
            <% const movie = movies[i] %>
         
            <img src="<%= movie.poster %>" alt="Poster image" />
            <div>
            <a href="/movies/<%=movie._id%>"><%=movie.title%></a>
        </div>
        
       <% } %>
   

</body>
</html>