<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie</title>
</head>
<body>
    <h1>All Movies</h1>

    <div class="movieContainer">
        <% for(let i=0; i<movies.length; i++) { %>
            <% const movie = movies[i] %>
            <img src="<%= movie.poster %>" alt="Poster image" />
            <a href="/movies/<%=movie._id%>"><%=movie.title%></a>

       <% } %>
    </div>

</body>
</html>