<!DOCTYPE html>
<html lang="en">
<%-include ("partials/head.ejs")%>
<body>
    <h1>All Movies</h1>

    <div class=movieContainer>
        <% for(let i=0; i<movies.length; i++) { %>
            <% const movie = movies[i] %>
            <div class="movieGrid">
            <img src="<%= movie.poster %>" alt="Poster image" />
            
            <a href="/movies/<%=movie._id%>"><%=movie.title%></a>
        
       <% } %>
        </div>
    </div>

</body>
</html>