<!DOCTYPE html>
<html lang="en">
    <%-include ("partials/head.ejs", { pageName : "Add New Movie" })%>
<body>
    <%-include ("partials/nav.ejs")%>
    <h1>Create a new movie!</h1>
    <form action = "/movies" method = "POST">
        <div>
            <label for = "title">Movie Title:</label>
            <input id = "title" name = "title" type = "text" value = "write title here"/>
        </div>
        <div>
            <label for = "poster">Movie poster:</label>
            <input id = "poster" name = "poster" type = "text" value = "poster image adress here"/>
        </div>
        <div>
            <label for = "director">Movie director:</label>
            <input id = "director" name = "director" type = "text" value = "Director name here"/>
        </div>
        <div>
            <label for = "synopsis">Movie synopsis:</label>
            <input id = "synopsis" name = "synopsis" type = "text" value = "movie synopsis here"/>
        </div>
        <div>
            <label for = "releaseMonth">Release Month:</label>
            <input id = "releaseMonth" name = "releaseMonth" type = "number"/>
        </div>
        <div>
            <label for = "releaseDate">Release Day:</label>
            <input id = "releaseDate" name = "releaseDate" type = "number"/>
        </div>
        <div>
            <label for = "releaseYear">Release Year:</label>
            <input id = "releaseYear" name = "releaseYear" type = "number"/>
        </div>
        <div>
            <%console.log(user)%>
            <input id = "user" type='hidden' name = 'user' value = "<%=user.id%>" />
        </div>
        <input type="submit" value="Create new Movie">
    </form>
</body>
</html>