/* font imports */
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Open Sans", sans-serif;
}

/* a tag styling */
a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

a:hover {
  color: red;
}

input[type="submit"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input[type="submit"]:hover {
  color: red;
}

/* navbar styling */
.navbar {
  display: grid;
  grid-template-columns: 1fr 80px 110px 80px;
  grid-template-areas: "username . controls";
  padding: 20px;
}

/* home page styling */
.index-title {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: "Bangers", cursive;
  font-size: 70px;
}

.all-movies-listed {
  display: grid;
}

.movies-container {
  display: grid;
  padding: 15px;
  grid-template-columns: repeat(3, 1fr);
}

.movie-title {
  display: flex;
}

.info-movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
}

img.poster-grid {
  width: 70%;
  height: auto;
}

/* create/new page styling */
.new-title {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.add-new-movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#title,
#poster,
#director,
#synopsis,
#releaseMonth,
#releaseDate,
#releaseYear {
  margin: 3px;
}

.create-new-button {
  margin: 10px;
  cursor: pointer;
}

.create-new-button:hover {
  background-color: green;
}

/* show page/movie detail page styling */
.show-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-title {
  font-family: "Bangers", cursive;
  font-size: 50px;
  margin: 15px;
}

.show-info {
  padding: 30px;
  justify-content: center;
  text-align: center;
}

.review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.current-review {
  padding: 15px;
}

.show-img {
  width: 70%;
  height: auto;
}

.edit-controls {
  display: flex;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}

.show-delete,
.show-edit {
  justify-content: start;
  align-content: start;
  text-align: start;
  margin: 5px;
}

.not-logged-in {
  padding-left: 15px;
}

/* edit review page */
.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.review-form {
  padding: 5px;
}

#rating,
#comment {
  margin: 3px;
}

.confirm-edit {
  padding: 5px;
  align-items: center;
  justify-content: center;
}

/* edit movie page */
.edit-movie-container {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
}

/* login page styling */
.login-title {
  padding: 5px;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-submit {
  margin: 5px;
}

.field {
  padding: 5px;
}

/* register page styling */
.register-title {
  padding: 5px;
}

.register-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
