<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("../partials/head.ejs", { pageName : "Edit Review" })%>
</head>
<body>
    <%-include ("../partials/nav.ejs")%>
    <div class = "reviews">
        <h2>Edit your comment</h2>
        <form action = "/reviews/<%=comment._id%>?_method=PUT" method = "POST">
            <div class="review-form">
            <label for="rating"> Rating: </label>
            <input id="rating" name = "rating" type = "number" /> <br>

            <label for="comment"> Comment: </label>
            <input id="comment" name = "comment" type = "text" /> <br>
            <input type = "hidden" name = "movie" />
        </div>
            <input class="confirm-edit" type = "submit" value = "Confirm edit" />
        </form>
</body>
</html>
